* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
    
html,body {
    height:100%;
    margin:0;
    overflow: hidden;
    background-image: -moz-linear-gradient(top, #FFF7ED 0%, #F7C583 200%);
}
h1{
    margin:0;
}
.node{
   border:solid;
   padding:15px;
   margin:5px;
   width:160px;
   height:160px;
   -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;   
 }  
.nodeContent{
    text-align: center;
    vertical-align: middle;
}
#wrapper{ 
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    height: 100%;
    position: relative;
    float:none;
}

#menu{
    text-align: center;
    vertical-align: middle;
    background-color:#eaf4fc;
    border-bottom:solid;
    border-color: #1e50a2;
    height:50px;
}
#mainContent{
    margin: 0 auto;
}
#panel{
    background-color:#eeeeff;
    border-left:solid;
    border-right:solid;
    border-color: #1e50a2;
    padding:10px;
    width:200px;
    float:left;
    
    word-wrap: break-word;
}
#tabs{
    float:right;
}
#theme{
    padding:2px;
    width:170px;
    height:80px;
    background-color:#FFFFFF;    
}
#map{
    visibility:hidden;
    overflow: hidden;
    border:solid;
    background-color:#eeffee;
}

#ground{
    width:3000px;
    height:3000px;
    top: -500px;
    left: -500px;
}

#controller{ 
    visibility:hidden;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 300px 300px;
    border-color: transparent transparent #d6e9ca transparent;
}

#canvas1{
    background-color:#ECF6FE;
    width:3000px;
    height:3000px;
    top: -500px;
    left: -500px;
}
.Aside{
    background-color:#a0d8ef;
    position: absolute;
}
.Bside{
    background-color:#f6ad49;
    position: absolute;
}
#n1{
    background-color:#FFFFFF;
    position: absolute;
    top: 500px;
    left: 500px;
}
#n2{
    top: 820px;
    left: 570px;    
    width:90px;
    height:90px;
}
#n3{
    top: 920px;
    left: 580px;    
    width:80px;
    height:80px;
}
#n4{
    top: 1010px;
    left: 610px;    
    width:50px;
    height:50px;
}
#n5{
    top: 500px;
    left: 750px;    
    width:100px;
    height:100px;
}
#n6{
    top: 610px;
    left: 770px;    
    width:80px;
    height:80px;
}
#n7{
    top: 700px;
    left: 770px;    
    width:80px;
    height:80px;
}
#n8{
    top: 790px;
    left: 820px;    
    width:30px;
    height:30px;
    text-align: left;
}
#n9{
    top: 840px;
    left: 790px;    
    width:60px;
    height:60px;
    text-align: left;
}
#n10{
    top: 945px;
    left: 810px;    
    width:40px;
    height:40px;
    text-align: left;
}
#n11{
    top: 500px;
    left: 950px;    
    width:60px;
    height:60px;
    text-align: left;
}
#n12{
    top: 570px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}
#n13{
    top: 615px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}
#n14{
    top: 655px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}

#n15{
    top: 705px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}
#n16{
    top: 745px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}
#n17{
    top: 855px;
    left: 980px;    
    width:30px;
    height:30px;
    text-align: left;
}

#n18{
    top: 510px;
    left: 1130px;    
    width:30px;
    height:30px;
    text-align: left;
}